.sldr-img {
  margin: auto;
  display: block;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  position: relative;
}
@media screen and (max-width: 1080px) {
  .sldr-img {
    margin: auto;
    display: block;
    width: 90%;
    height: 400px;
  }
}
.Slider_container {
  padding: 50px;
  margin: auto;
}
